[Unit]
Description=Propagate Network
RefuseManualStart=yes
BindsTo=network.target
After=network.target

[Service]
User=%I
Type=oneshot
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/dbus/user_bus_socket
RemainAfterExit=yes
ExecStart=/usr/bin/systemctl --user start network.target
ExecStop=/usr/bin/systemctl --user stop network.target

[Install]
WantedBy=network.target
