[Unit]
Description=Propagate Network is Online
PartOf=network-online.target
Requisite=network-online.target user@.service
After=network-online.target user@.service
RefuseManualStart=yes

[Service]
User=%I
Type=oneshot
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%I/bus
RemainAfterExit=yes
ExecStart=/usr/bin/systemctl --user start network-online.target
ExecStop=/usr/bin/systemctl --user stop network-online.target

[Install]
WantedBy=network-online.target user@%i.service
