[Unit]
Description=Propagate Network
PartOf=network.target
Requisite=network.target user@.service
After=network.target user@.service
RefuseManualStart=yes

[Service]
User=%I
Type=oneshot
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%I/bus
RemainAfterExit=yes
ExecStart=/usr/bin/systemctl --user start network.target
ExecStop=/usr/bin/systemctl --user stop network.target

[Install]
WantedBy=network.target user@%i.service
